.navbar{
	background-color: rgb(9, 95, 95);
	display: flex;
	padding: 2vh 2vw;
	position:absolute;
	left: 0px;
	right: 0px;
	top:12vh;
}
.navBar{
	height: 5vh;
	position: relative;
	left: 10px;
	background-color: rgb(11, 255, 202);
    border-radius: 0.5rem;
	border-width: 0px;
	border-color:rgb(9, 95, 95);
	margin: 0px 5px;
	font: 1.2em "Comic Sans MS";
}
.navBar:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.text{
	color: azure;
	position: relative;
	
}
.logo{
	display: flex;
	position:relative;
	height:20vh;
	top:-2.2vh;
}
h1{
	color: #dd33be;
	text-shadow: #241221;

}
body{
	background: #348188;
}
