.navbar{
	background-color: rgb(9, 95, 95);
	display: flex;
	padding: 2vh 2vw;
	position:absolute;
	left: 0px;
	right: 0px;
}
.navBar{
	height: 3vh;
	position: relative;
	left: 10px;
	background-color: rgb(11, 255, 202);
    border-radius: 0.1rem;
	border-width: 0px;
	border-color:rgb(9, 95, 95);
	margin: 0px 5px;
}
.navBar:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
}
h1{
	color: #dd33be;
	text-shadow: #241221;

}
body{
	background: #0b3033;
}